.orders {
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #337ab7 !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.order {
    color: #141414;
    padding-top: 2px;
    padding-bottom: 2px;
    border-left: 1px solid #337ab7;
    border-right: 1px solid #337ab7;
    border-bottom: 1px solid #337ab7;
    background-color: #fefff6;
}

.center {
    display: flex;
    align-items: center;
}

.category {
    font-size: 18pt;
}

.price {
    font-size: 16pt;
}

.row.equal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.info-right {
    font-size: 14pt;
    justify-content: flex-end;
}
.info-left {
    font-size: 14pt;
    justify-content: flex-start;
}

.more {
    margin: 0 10px 0 10px;
    padding: 5px 0 5px 0 !important;
}

.task a:visited{
    color: #2a88bd;
}

.task p{
    margin-bottom: 0;
}

.report{
    margin-left:5px;
}

h1{
    color: #f9ffef !important;
}
