.container form {
    margin-top: 51px;
}

label{
    margin-top: 5px;
}

#loading-bar{
    height: 40px;
    border-radius: 5px;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #337ab7;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

#progress{
    border-radius: 4px;
    width: 0;
    height: 100%;
    background-color: #337ab7;
    padding: 0;
}

#files{
    height: 80px;
    overflow-y: auto;
    word-wrap: break-word;
}